<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Life - iMoon-Lab</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="../static/carousel.css" rel="stylesheet"> -->




    <!-- Glyphicons -->
    <link rel="stylesheet" href="../static/css/vendor/glyphicons/glyphicons.css">
    <link rel="stylesheet" href="../static/css/vendor/glyphicons/filetypes.css">
    <link rel="stylesheet" href="../static/css/vendor/glyphicons/social.css">

    <!-- Google Webfonts -->
    <!-- <link href="../../fonts.googleapis.com/css-family=Open+Sans-400,700,600.css" rel='stylesheet' type='text/css'> -->

    <!-- fontawesome -->
    <!-- <link rel="stylesheet" href="../../maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="../static/css/bootstrap-markdown.min.css" type="text/css">

    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="../static/css/vendor/layerslider/layerslider.css" type="text/css">

    <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
    <link rel="stylesheet" href="../static/css/styles-cleanred.css" id="grove-styles">

    <!-- <link rel="stylesheet" href="../../cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" type="text/css"> -->

    <!-- table highlighting -->
    <!--<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/features/searchHighlight/dataTables.searchHighlight.css">-->

    <!-- site-wide custom css -->
    <link rel="stylesheet" href="../static/css/nlp.css" id="nlp-styles">

    <!-- css for this life page -->
    <link rel="stylesheet" href="static/css/VueAgile.css">
    <link rel="stylesheet" href="static/css/life.css">


    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <!-- <script src="../../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery/jquery-1.9.1.min.js"><\/script>')</script>
    <!-- jQuery with jQuery Easing, and jQuery Transit JS -->

    <!-- LayerSlider from Kreatura Media with Transitions -->
    <!-- <script src="../static/js/vendor/layerslider/greensock.js" type="text/javascript"></script> -->
    <script src="../static/js/vendor/layerslider/layerslider.transitions.js" type="text/javascript"></script>
    <script src="../static/js/vendor/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Bootstrap Markdown for Blog editing-->
    <script src="../static/js/markdown.js" type="text/javascript"></script>
    <script src="../static/js/to-markdown.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap-markdown.js" type="text/javascript"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="../static/js/grove-slider.js" type="text/javascript"></script>

    <!-- DataTables.net for publications -->
    <!-- <script src="../../cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script> -->

    <!-- highlighting for tables -->
    <!-- <script src="../../cdn.datatables.net/plug-ins/1.10.7/features/searchHighlight/dataTables.searchHighlight.min.js"></script> -->
    <!-- <script src="../../bartaz.github.io/sandbox.js/jquery.highlight.js"></script> -->

    <!-- fancy select boxes -->
    <!-- <link href="../../cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> -->
    <!-- <script src="../../cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?bee6e9034f83599f524d47d96877e93c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>

    <!-- navigation -->
    <header>
        <nav class="navbar navbar-default grove-navbar navbar-fixed-top" id="imoonbignav">
            <div class="container" id="imoonmidnav">
                <div class="navbar-header">
                    <a href="#" class="grove-toggle collapsed" data-toggle="collapse" data-target=".grove-nav">
                        <i class="glyphicons show_lines"></i>
                    </a>
                    <img class="navbar-brand navbar-left hidden-xs" src="../static/img/logos/nlp-logo-small.png" alt=""
                        id="imoonlogo">
                    <a class="navbar-brand navbar-left" href="../index.htm">
                        <h3 class="hidden-xs" id="imoontitle">智能媒体与认知实验室<p>
                                iMoon: Intelligent
                                Media and Cognition Lab</p>
                        </h3>
                        <h3 class="hidden-sm hidden-md hidden-lg hidden-xl" style="color: white">iMoon</h3>
                    </a>
                </div>


                <div class="navbar-collapse grove-nav collapse" style="position: relative">
                    <ul class="nav navbar-nav" id="imoonnav">


                        <div style="position:absolute;top:5px;left:10px;border:0px solid rgb(255, 255, 255);">
                            <a href="../index.htm">
                                <div style="width: 400px;height:65px"></div>
                            </a>
                        </div>
                        <div id="language">
                            <a id='drump' href="../../cn_tsinghua/life/index.htm"><b>中 / </b></a><a id='drump'
                                href="#"><b>En</b></a>
                        </div>

                        <li>
                            <a href="../index.htm">主页</a>
                        </li>
                        <li>
                            <a href="../people/index.htm">团队</a>
                        </li>
                        <li>
                            <a href="../resrc/index.htm">研究方向</a>
                        </li>
                        <li>
                            <a href="../pubs/index.htm">论文</a>
                        </li>
                        <li>
                            <a href="../blog/index.htm">新闻</a>
                        </li>
                        <li>
                            <a href="#">生活</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">更多信息</a>
                            <ul class="dropdown-menu">
                                <li><a href="../more/index.htm">MICCAI19 Tutorial</a></li>
                                <li><a href="#">MICCAI19 挑战赛</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>



    <div class="widewrapper">
        <div id="body_content">

            <div class="widewrapper" style="margin-top: 90px">
                <div class="container content">

                    <!-- group photo banner -->
                    <div id="v-group-gallery">
                        <agile :autoplay="false" :center-mode="true">
                            <div v-for="item in items">
                                <div style="position: relative;">
                                    <img class="slide" :src="item.img" alt="image">
                                    <div class="slide-content">{{item.title}}</div>
                                </div>
                            </div>
                            <template slot="prevButton"><i class="fas fa-chevron-left"></i></template>
                            <template slot="nextButton"><i class="fas fa-chevron-right"></i></template>
                        </agile>
                    </div>

                    <div id="showmarkdown" class="row">
                        <div class="col-sm-10">
                            <section id="blog-posts">

                                <!-- 内容加这里 -->
                                <div class="section light-bg">
                                    <div class="container">

                                        <div class="row grid" id="v-news-cards">

                                            <div class="grid-item col-xs-12 col-sm-6 col-md-4" v-for="item in items">
                                                <div class="card center-block">
                                                    <div class="card-head">{{item.title}}</div>
                                                    <div class="card-body">
                                                        <img v-bind:src="item.img" alt="image">
                                                    </div>
                                                    <div class="card-foot">
                                                        <hr>
                                                        <div class="news-content">{{item.content}}</div>
                                                        <div class="news-inscription">{{item.inscription}}</div>
                                                        <a v-bind:href="item.src" class="btn btn-primary btn-lg btn-block">查看详情</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end card -->

                                        </div>
                                        <!-- end row -->

                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="widewrapper footer">
        <div class="container">

            <div class="row footer">

                <div class="col-sm-3">
                    <h4>iMoon: Intelligent Media and Cognition Lab</h4>
                    School of Software
                    <br> Tsinghua, Beijing 100084
                    <br>
                    <a
                        href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/intothu/intothu-3-3.html">Directions</a>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                        <h4>Copyright</h4>
                        All Rights Reserved.
                    </div>
                </div>

                <!--
                <div class="col-sm-3">
                    <div class="indent30">
                        <h4>Affiliated Groups</h4>
                        <ul class="grove-list">
                            <li>
                                <a href="https://www.google.com/">XXXXXXX</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">XXXXX</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">XX</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class="indent30">
                        <h4>Connect</h4>
                        <ul class="grove-list">
                            <li>
                                <a href="https://www.google.com/">Github</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="indent30">
                        <h4>Local links</h4>
                        <div class="small" style="text-align:left">
                            <a href="https://www.google.com/">AI lunch</a> ·
                            <a href="https://www.google.com/">AI Reading Group</a>
                            <br>
                            <a href="https://www.google.com/">AI Seminar</a> ·
                            <a href="https://www.google.com/">Calendar</a>
                            <br>
                            <a href="https://www.google.com/">AI Speakers</a> ·
                            <a href="https://www.google.com/">Q&amp;A</a>
                        </div>
                    </div>


                </div> -->

            </div>
        </div>
    </footer>

    <script src="../static/js/vendor/bootstrap/bootstrap.min.js"
        tppabs="https://nlp.stanford.edu/static/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../static/js/vendor/modernizr/modernizr.js"
        tppabs="https://nlp.stanford.edu/static/js/vendor/modernizr/modernizr.js"></script>
    <script src="../static/showdown/dist/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="static/js/VueAgile.umd.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/masonry.pkgd.min.js"></script>
    <script src="static/js/scripts.js"></script>



    <script>
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
    </script>

</body>

</html>
